@import url("../loader.css");

html, body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: 400px;
    overflow-y: auto;
}

p {
    margin: 0;
}

header {
    background-color: #000;
    width: 100%;
    height: 30px;
}

#logo {
    padding: 5px;
    color: #fff;
    font-weight: bold;
    float: left;
}

header nav {
    text-align: right;
    padding: 5px;
    color: #fff;
}

#auth_user_id {
    text-align: right;
}

#not_qiita {
    padding: 5px;
    font-size: 9pt;
}

#item_info {
    display: none;
    background-color: #d3d3d3;
    margin: 0;
    width: 100%;
}

#item_title {
    font-weight: bold;
    font-size: 9pt;
    word-break: break-all;
    padding: 5px 10px;
}

#author {
    padding: 5px 10px;
}

#author_image {
    vertical-align: middle;
}

#author_name {
    font-size: 9pt;
    text-align: right;
    vertical-align: middle;
}

#lgtms {
    font-size: 7pt;
    width: 100%;
    overflow-y: auto;
}

#lgtms p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid black;
    vertical-align: middle;
}

#lgtms img {
    margin-right: 5px;
    border: 0 none;
    vertical-align: middle;
}

.created_at {
    margin-left: 10px;
    color: #828080;
}

.organization {
    margin-left: 10px;
    color: #828080;
}

#more_btn {
    display: none;
    background-color: #d3d3d3;
    padding: 5px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
